<section id="structure_topic">
	<h1>STRUTTURA: <%= @structure.name %></h1>
	
	<div class = "image">
    	<%= image_tag("/structures/#{@structure.img_url}") %>
   	</div>

	<p class = "description_topic"><%= @structure.description %></p>
	
	<div class = "transition_link">
  		<%= link_to 'Eventi ospitati', show_events_structure_path(@structure) %> </br>
  	</div>
  	
  	<div class = "group_link">	
  		<%= link_to 'Tutte le strutture', structures_path %> </br>
  	</div>
  	
</section>