<h1>Pagina dell'amministratore</h1>

<section id="editorial_section">
  <ul class="horizontal">
      <li>
        <%= link_to 'Inserisci incontro', new_meeting_path %>
      </li>
      <li>
        <%= link_to 'Inserisci professore', new_professor_path %>
      </li>
      <li>
        <%= link_to 'Inserisci struttura', new_structure_path %>
      </li>
      <li>
        <%= link_to 'Inserisci evento', new_event_path %>
      </li>
      <li>
        <%= link_to 'Inserisci attività extra', new_activity_path %>
      </li>
  </ul>
</section>
