<h1>EVENTO <%= @event.name %></h1>

<p class = "short_line">Data e ora: <%= @event.datetime.to_formatted_s(:short) %></p>

<h3>Interventi</h3>

<p class = "description_topic"><%= @event.participations %></p>

<div class = "structural_link">
  <%= link_to 'Descrizione dettagliata', event_path(@event) %>
</div>

<div class = "transition_link">
  <%= link_to "Struttura che ospita l'evento", structure_path(@host_structure) %> </br>
</div>

<div class = "group_link">
  <%= link_to "Eventi per #{@type.name}", index_types_event_path(@type) %> </br>
</div>

<div class = "transition_link">
  <h3>Materie collegate</h3>
  <% @related_subjects.each do |s| %>
      <%= link_to s.name, subject_path(s, from_event: @event.id) %> | 
  <% end %>
</div>