<section id = "event_topic">
	<h1>EVENTO <%= @event.name %></h1>
	
	<h3>Descrizione</h3>
	
	<p class = "description_topic"><%= @event.description %></p>
	
	<div class = "structural_link">
  		<%= link_to 'Info pratiche', show_practical_info_event_path(@event) %> </br>
  	</div> </br>
  	
	<div class = "transition_link">
  		<%= link_to "Struttura che ospita l'evento", structure_path(@host_structure) %> </br>
  		<%= link_to "Torna agli eventi ospitati dalla struttura #{@from_host.name}", show_events_structure_path(@from_host_id) if @from_host_id %> </br>
  		<%= link_to "Torna agli argomenti che riguardano #{@from_events_subject.name}", show_events_subject_path(@from_events_subject_id) if @from_events_subject_id %> </br>
  	</div> </br>
  	
  	<div class = "group_link">
  		<%= link_to "Eventi per #{@type.name}", index_types_event_path(@type) %> </br>
  	</div> </br>
  	
  	<div class = "transition_link">
		<h3>Materie collegate</h3>
  		<% @related_subjects.each do |s| %>
        	<%= link_to s.name, subject_path(s, from_event: @event.id) %> | 
    	<% end %>
  	</div> </br>
</section>