<% provide(:sub_title, "Data e interventi") %>
<%= render 'events/mini_header' %>

<p class = "short_line"><%= @event.datetime.to_formatted_s(:short) %></p>
<p class = "description_topic"><%= @event.participations %></p>

<div class = "transition_link">
  	<ul class="horizontal">
  		<li>
			<%= link_to "Struttura che ospita l'evento", structure_path(@host_structure, from_event: @event) %>
		</li>
	</ul>
</div>

<%= render 'events/mini_footer' %>