<h1>PROFESSORE <%= @professor.surname+' '+@professor.name %></h1>

<div class="image">
  <%= image_tag("/professors/#{@professor.img_url}") %>
</div>

<div id="professor_contacts">
  <h3>Contatti</h3>
  <h4>Email: </h4> <%= @professor.email %>
  <h4>Telefono: </h4> <%= @professor.telephone %>
</div>

<div class="transition_link">
  <h3>Materie insegnate</h3>
  <% @subjects.each do |s| %>
    <%= link_to s.name, subject_path(id: s, from_professor: @professor) %> | 
  <% end %>
</div>

<div class="transition_link">
  <%= link_to 'Incontri', show_meetings_professor_path(@professor) %> </br>
  <%= link_to "Torna ai professori di #{@from_subject.name}", show_professors_subject_path(@from_subject_id) if @from_subject_id %> </br>
  <%= link_to "Torna all'incontro del #{@from_meeting.datetime.to_formatted_s(:short)}", meeting_path(@from_meeting_id) if @from_meeting_id %> </br>
</div>

<div class="group_link">  
  <%= link_to 'Tutti i professori', professors_path %> </br>
</div>