<% provide(:title, 'PROFESSORI') %>

<h1>PROFESSORE <%= @professor.surname+' '+@professor.name %></h1>

<div class="image_left_text">
  <%= image_tag("/professors/#{@professor.img_url}") %>
  <p><h3>Contatti</h3>
    Email: <%= @professor.email %> </br>
    Telefono: <%= @professor.telephone %> </br></p>
</div>

<div class = "left"> 
  <div class="transition_link">
  	<ul class="horizontal">
    	<li>
        	<%= link_to 'Incontri', show_meetings_professor_path(@professor) %>
       	</li>
  	</ul>
  	
    <h3>Materie insegnate</h3>
      <ul class="horizontal">
        <% @subjects.each do |s| %>
          <li>
            <%= link_to s.name, subject_path(id: s, from_professor: @professor) %>
          </li>
        <% end %>
      </ul>
    
    <h3>Attività coordinate</h3>
      <ul class="horizontal">
        <% @activities.each do |a| %>
          <li>
            <%= link_to a.name, activity_path(id: a, from_professor: @professor) %>
          </li>
        <% end %>
      </ul>
  </div>
</div>

<%= render 'professors/mini_footer' %>