<section id = "ida_subjects">
	<h1>MATERIE PER ANNO SCOLASTICO</h1>

	<p class = "ida_description">Gli anni scolastici previsti dal piano formativo sono cinque. Da qui è possibile raggiungere le materie che verranno affrontate durante un certo anno.</p>
	
	<div id = "list_subjects">
		<h3>PRIMO ANNO</h3>
		<%= link_to 'Inizia il tour del primo anno', subject_path(@first_year_subjects[0].id, from_year: @first_year_id ) %>
  		<ul>
    		<% @first_year_subjects.each do |s| %>
        		<li class = "bullet">
           			<%= link_to s.name, subject_path(s, from_year: @first_year_id ) %>
        		</li>
    		<% end %>
  		</ul>
  	
  		<h3>SECONDO ANNO</h3>
  		<%= link_to 'Inizia il tour del secondo anno', subject_path(@second_year_subjects[0].id, from_year: @second_year_id ) %>
  		<ul>
    		<% @second_year_subjects.each do |s| %>
        		<li class = "bullet">
           			<%= link_to s.name, subject_path(s, from_year: @second_year_id ) %>
        		</li>
    		<% end %>
  		</ul>
  	
  		<h3>TERZO ANNO</h3>
  		<%= link_to 'Inizia il tour del terzo anno', subject_path(@third_year_subjects[0].id, from_year: @third_year_id ) %>
  		<ul>
    		<% @third_year_subjects.each do |s| %>
        		<li class = "bullet">
           			<%= link_to s.name, subject_path(s, from_year: @third_year_id ) %>
        		</li>
    		<% end %>
  		</ul>
  
    	<h3>QUARTO ANNO</h3>
    	<%= link_to 'Inizia il tour del quarto anno', subject_path(@fourth_year_subjects[0].id, from_year: @fourth_year_id ) %>
  		<ul>
    		<% @fourth_year_subjects.each do |s| %>
        		<li class = "bullet">
           			<%= link_to s.name, subject_path(s, from_year: @fourth_year_id ) %>
        		</li>
    		<% end %>
  		</ul>

		<h3>QUINTO ANNO</h3>
		<%= link_to 'Inizia il tour del quinto anno', subject_path(@fifth_year_subjects[0].id, from_year: @fifth_year_id ) %>
  		<ul>
    		<% @fifth_year_subjects.each do |s| %>
        		<li class = "bullet">
           			<%= link_to s.name, subject_path(s, from_year: @fifth_year_id ) %>
        		</li>
    		<% end %>
  		</ul>
	</div>
</section>