<% provide(:title, 'MATERIA') %>

<h1>MATERIE PER ANNO SCOLASTICO</h1>

<p class="ida_description">Gli anni scolastici previsti dal piano formativo sono cinque. Da qui è possibile raggiungere le materie che verranno affrontate durante un certo anno.</p>

<div>
  <h3>PRIMO ANNO</h3>
  <%= link_to 'Inizia il tour del primo anno', subject_path(@first_year_subjects[0].id, from_year: 1 ) %>
    <ul class="horizontal">
      <% @first_year_subjects.each do |s| %>
        <li>
          <%= link_to s.name, subject_path(s, from_year: 1 ) %>
        </li>
      <% end %>
    </ul>
  
    <h3>SECONDO ANNO</h3>
    <%= link_to 'Inizia il tour del secondo anno', subject_path(@second_year_subjects[0].id, from_year: 2 ) %>
    <ul class="horizontal">
      <% @second_year_subjects.each do |s| %>
        <li>
          <%= link_to s.name, subject_path(s, from_year: 2 ) %>
        </li>
      <% end %>
    </ul>
  
    <h3>TERZO ANNO</h3>
    <%= link_to 'Inizia il tour del terzo anno', subject_path(@third_year_subjects[0].id, from_year: 3 ) %>
    <ul class="horizontal">
      <% @third_year_subjects.each do |s| %>
        <li>
          <%= link_to s.name, subject_path(s, from_year: 3 ) %>
        </li>
      <% end %>
    </ul>

    <h3>QUARTO ANNO</h3>
    <%= link_to 'Inizia il tour del quarto anno', subject_path(@fourth_year_subjects[0].id, from_year: 4 ) %>
    <ul class="horizontal">
      <% @fourth_year_subjects.each do |s| %>
        <li>
          <%= link_to s.name, subject_path(s, from_year: 4 ) %>
        </li>
      <% end %>
    </ul>

  <h3>QUINTO ANNO</h3>
  <%= link_to 'Inizia il tour del quinto anno', subject_path(@fifth_year_subjects[0].id, from_year: 5 ) %>
    <ul class="horizontal">
      <% @fifth_year_subjects.each do |s| %>
        <li>
          <%= link_to s.name, subject_path(s, from_year: 5 ) %>
        </li>
      <% end %>
    </ul>
</div>