<section id="subject_topic">
	<h1>DESCRIZIONE: <%= @subject.name %></h1>
	
	<h3><%= "Tour materie del #{@tour_year_id}° anno" if @tour_year_id %></h3>
	
	<div class = "image">
    	<%= image_tag("/subjects/#{@subject.img_url}") %>
   	</div>

	<p class="description_topic"><%= @subject.description %></p>
	
	<div class="structural_link">
  		<%= link_to 'Programma', show_program_subject_path(@subject, from_year: @tour_year_id) %> </br>
  	</div> </br>
  	
	<div class="transition_link">
  		<%= link_to 'Eventi in cui è argomento', show_events_subject_path(@subject) %> </br>
  		<%= link_to 'Professori che la insegnano', show_professors_subject_path(@subject) %> </br>
  		<%= link_to 'Classi in cui viene insegnata', show_courses_subject_path(@subject) %> </br>
  		<%= link_to "Torna al professore #{@from_professor.name}", professor_path(@from_professor_id) if @from_professor_id %> </br>
  		<%= link_to "Torna all'evento #{@from_event.name}", event_path(@from_event_id) if @from_event_id %> </br>
  		<%= link_to "Torna al corso #{@from_course.name}", course_path(@from_course_id) if @from_course_id %> </br>
  	</div> </br>

  	<div class="group_link">
  		<%= link_to 'Materie per anno scolastico', subjects_path %> </br>
  		<%= link_to "<<Prev", subject_path(@subjects[@prev].id, from_year: @tour_year_id) if @prev %>
  		<%= link_to "Next>>", subject_path(@subjects[@next].id, from_year: @tour_year_id) if @next %>
  	</div>
</section>