<section id = "ida_courses">
  <h1>CLASSI DELL'ISTITUTO</h1>

  <p class = "ida_description">Da qui si possono raggiungere le informazioni pratiche e didattiche di tutte le classi dell' istituto.</p>
  
  <div id = "list_courses">
    <h3>PRIME SEZIONI</h3>
      <ul>
          <% @first_year_courses.each do |c| %>
            <li class=horizontal>
              <%= link_to c.name, course_path(c) %>
            </li>
          <% end %>
      </ul>
        
      <h3>SECONDE SEZIONI</h3>
        <ul>
          <% @second_year_courses.each do |c| %>
            <li class=horizontal>
              <%= link_to c.name, course_path(c) %>
            </li>
          <% end %>
      </ul>
        
      <h3>TERZE SEZIONI</h3>
        <ul>
          <% @third_year_courses.each do |c| %>
            <li class=horizontal>
              <%= link_to c.name, course_path(c) %>
            </li>
          <% end %>
      </ul>
        
      
      <h3>QUARTE SEZIONI</h3>
        <ul>
          <% @fourth_year_courses.each do |c| %>
            <li class=horizontal>
              <%= link_to c.name, course_path(c) %>
            </li>
          <% end %>
      </ul>
        

      <h3>QUINTE SEZIONI</h3>
        <ul>
          <% @fifth_year_courses.each do |c| %>
            <li class=horizontal>
                <%= link_to c.name, course_path(c) %>
            </li>
          <% end %>
      </ul>
    
  </div>
</section>