<% provide(:sub_title, "LIBRI CLASSE: #{@course.name}") %>
<%= render 'courses/mini_header' %>

<div id = "course_bibliography">
  <h3>Bibliografia</h3>
  <p class = "description_topic"><%= @course.books %></p>
  <p class = "description_topic"><%= @course.extra_materials %></p>
</div>

<%= render 'courses/transition_link' %>
<%= render 'courses/mini_footer' %>