<% provide(:sub_title, "CLASSE: #{@course.name}") %>
<%= render 'courses/mini_header' %>

<div id = "course_room">
  <h3>Raggiungere l'aula</h3>
  <p class = "short_line"><%= @course.location%></p>
</div>

<div id = "course_schedule">
  <h3>Orario didattico</h3>
  <% @schedules.each do |s| %>
    <h4><%= s.school_day.name %></h4>
    <p class = "short_line"><%= s.lessons %></p>
  <% end %>
</div>

<%= render 'courses/transition_link' %>
<%= render 'courses/mini_footer' %>