<section id = "course_topic">
	<h1>LIBRI CLASSE: <%= @course.name %></h1>

	<div class = "structural_link">
  		<%= link_to 'Ubicazione e orario didattico', course_path(@course) %> </br>
  	</div>
  	
  	<div class = "group_link">
  		<%= link_to 'Tutte le classi', courses_path %> </br>
  	</div>
  	
  	<div id = "course_bibliography">
  		<h3>Bibliografia</h3>
  		<p class = "description_topic"><%= @course.books %></p>
  		<p class = "description_topic"><%= @course.extra_materials %></p>
  	</div>
  	
  	<div class = "transition_link">
		<h3>Materie</h3>
  		<% @subjects.each do |s| %>
        	<%= link_to s.name, subject_path(id: s, from_course: @course) %> | 
    	<% end %>
  	</div> </br>
</section>