<% provide(:sub_title, "ATTIVITA' EXTRA: #{@activity.name}") %>
<%= render 'activities/mini_header' %>

<div class="image">
  <%= image_tag("/activities/#{@activity.img_url}") %>
</div>

<p class="description_topic"><%= @activity.description %></p>
  
<div class="transition_link">
  <ul class="horizontal">
    <li>
      <%= link_to "Professore responsabile dell'attività", professor_path(@professor, from_activity: @activity) %>
    </li>
  </ul>
</div>

<% provide(:group_name, 'Tutte le attività') %>
<%= render 'activities/mini_footer' %>