<nav id="landmarks">
  <ul>
  	<h4>BENVENUTO</h4>
  	<a href="#hide1" class="hide" id="hide1">+Scuola</a>
	<a href="#show1" class="show" id="show1">-Scuola</a>
  	<div class="list">
		<ul>
    		<li>
      			<%= link_to 'Storia e tradizione', school_index_path %>
    		</li>
    		<li>
      			<%= link_to 'Missione e principi', school_show_missions_path %>
    		</li>
    		<li>
      			<%= link_to 'Regole generali', school_show_rules_path %>
    		</li>
    		<li>
      			<%= link_to 'Associazione genitori', school_show_association_path %>
    		</li>
    	</ul>
    </div>
    
    <h4>UTILITA'</h4>
    <li>
      <%= link_to 'Strutture', structures_path %>
    </li>

    <h4>DIDATTICA</h4>
    <li>
      <%= link_to 'Classi', courses_path %>
    </li>
    <li>
      <%= link_to 'Materie', subjects_path %>
    </li>
    <li>
      <%= link_to 'Attività extra', activities_path %>
    </li>
    <li>
      <%= link_to 'Professori', professors_path %>
    </li>
    <li>
      <%= link_to 'Eventi', events_path %>
    </li>
    <li>
      <%= link_to 'Incontri', meetings_path %>
    </li>
  </ul>
</nav>