<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %> </title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <% csrf_meta_tags %>
</head>
<body>

<div id="page_wrap">
  <header>
    <h1 id="home_title"> <%= link_to "SKUOLA 42", root_path  %></h1>
    <div id="header_sito">
      <%= image_tag("home_header.gif", alt: "Logo Scuola") %>
    </div>
  </header>

  <div id="container">
    <%= render 'layouts/landmarks' %>
    <section id="container2">
      <%= yield %>
    </section>
  </div>
</div>

<footer>
  <p> Copyright © 2014 Hypermedia Project By Z.C. &amp; N.C. </p>
</footer>

</body>
</html>
